{% extends "layout.html" %}

{% block content %}
  <article>  
    <h1 class="title">
        {% if recipe %} 
            Edit <a href="/view/{{ recipe.id }}">{{ recipe.title }}</a>
        {% else %}
            New Recipe
        {% endif %}
    </h1>

    <form action="/{% if recipe %}update{% else %}create{% endif %}" method="post">
        <input type="text" name="url" placeholder="URL" {% if recipe %}value="{{ recipe.url }}"{% endif %} />
        <input type="text" name="title" placeholder="Title" {% if recipe %}value="{{ recipe.title }}"{% endif %}  />
        <input type="text" name="image_url" placeholder="Image URL" {% if recipe %}value="{{ recipe.image_url }}"{% endif %}  />
        <textarea type="textarea" name="ingredients" placeholder="Ingredients" rows="10">{{ recipe.ingredients | default('') }}</textarea>
        <textarea type="textarea" name="directions" placeholder="Directions" rows="10">{{ recipe.directions | default('') }}</textarea>
        <input type="text" name="date" placeholder="Date Eaten ({{ "now"|date('m/d/y') }})" {% if recipe %}value="{{ recipe.date|date('m/d/y') }}"{% endif %}  />

        <br><br>

        <input type="hidden" name="rating_ben" {% if recipe %}value="{{ recipe.rating_ben }}"{% endif %}  />
        <span>Ben's Rating:</span>
        <div class="rating-background">
            <div class="rating" {% if recipe %}style="width: {{ recipe.rating_ben / 5 * 100 }}%"{% endif %}></div>
            <img class="rating-overlay" src="/images/paw_overlay.png">
            {% for i in 1..5 %}
                <div class="rating-proxy" data-rating="{{ i }}" data-input="rating_ben"></div>
            {% endfor %}
        </div>

        <br><br>

        <input type="hidden" name="rating_hannah" {% if recipe %}value="{{ recipe.rating_hannah }}"{% endif %}   />
        <span>Hannah's Rating:</span>
        <div class="rating-background">
            <div class="rating" {% if recipe %}style="width: {{ recipe.rating_hannah / 5 * 100 }}%"{% endif %}></div>
            <img class="rating-overlay" src="/images/paw_overlay.png">
            {% for i in 1..5 %}
                <div class="rating-proxy" data-rating="{{ i }}" data-input="rating_hannah"></div>
            {% endfor %}
        </div>

        <br><br>

        {% if recipe %}
            <input type="hidden" name="id" value="{{ recipe.id }}" />
        {% endif %}

        <input class="btn" type="submit" value="Save" />
    </form>
  </article>      
{% endblock %}
