{% extends "layout.html" %}

{% block content %}
    <h1 class="title">
        {% if recipe %} Edit {{ recipe.title }}{% else %}New Recipe{% endif %}
    </h1>
    <a class="btn upper-right" href="/{% if recipe %}view/{{ recipe.id }}{% endif %}">
        &larr; &nbsp; Back to {% if recipe %}Recipe{% else %}List{% endif %}
    </a>

    <form action="/{% if recipe %}update{% else %}create{% endif %}" method="post">
        <input type="hidden" name="id" value="{{ recipe.id | default('') }}" />
        <input type="text" name="url" placeholder="URL" value="{{ recipe.url | default('') }}" />
        <input type="text" name="title" placeholder="Title" value="{{ recipe.title | default('') }}" />
        <input type="text" name="image_url" placeholder="Image URL" value="{{ recipe.image_url | default('') }}" />
        <textarea type="textarea" name="ingredients" placeholder="Ingredients" rows="10">{{ recipe.ingredients | default('') }}</textarea>
        <textarea type="textarea" name="directions" placeholder="Directions" rows="10">{{ recipe.directions | default('') }}</textarea>
        <input type="text" name="date" placeholder="Date Eaten" value="{{ recipe.date | default('') }}" />
        <input type="text" name="rating_ben" placeholder="Ben's Rating" value="{{ recipe.rating_ben | default('') }}" />
        <input type="text" name="rating_hannah" placeholder="Hannah's Rating" value="{{ recipe.rating_hannah | default('') }}"  />
        <input class="btn" type="submit" value="Save" />
    </form>
{% endblock %}