{% extends "layout.html" %}

{% block content %}

  <h1 class="title">The BeniHannah Recipe Book</h1>
  <a class="btn upper-right" href="/new">New Recipe</a>

  <table id="recipe-list">
    <tr>
      <th></th>
      <th>Title</th>
      <th>Date Eaten</th>
      <th>Rating</th>
    </tr>

    {% for recipe in recipes %}
      <tr>
        <td>
          <div class="list-img" style="background-image: url('{{ recipe.image_url }}')"></div>
        </td>
        <td><a href="/view/{{ recipe.id }}">{{ recipe.title }}</a></td>
        <td>{{ recipe.date|date('m/d/y') }}</td>
        <td>
          <div class="rating-background">
            <div class="rating" style="width: {{ recipe.rating_avg / 5 * 100 }}%"></div>
            <img class="rating-overlay" src="/images/paw_overlay.png">
          </div>
        </td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}