{% extends "layout.html" %}

{% block previews %}
  <div id="previews">
    <div id="previews-scroll">
      {% for recipe in recipes %}
        <a href="/view/{{ recipe.id }}">
          <img src="{{ recipe.image_url }}" height="300" />
        </a>
      {% endfor %} 
    </div>
  </div>
{% endblock %}

{% block content %}
  <h1>All Recipes</h1>
  <table id="recipe-list">
    <tr>
      <th data-sort-field="title">Title</th>
      <th class="desc" data-sort-field="date">Date Eaten</th>
      <th class="active desc" data-sort-field="rating">Rating</th>
    </tr>

    {% for recipe in recipes %}
      <tr class="recipe" data-title="{{ recipe.title }}" data-date="{{ recipe.date }}" data-rating="{{ recipe.rating_avg }}">
        <td>
            <div class="list-img" style="background-image: url('{{ recipe.image_url }}')"></div>
            <a href="/view/{{ recipe.id }}">{{ recipe.title }}</a>
        </td>
        <td>{{ recipe.date|date('M j, Y') }}</td>
        <td>
          <div class="rating-background">
            <div class="rating" style="width: {{ recipe.rating_avg / 5 * 100 }}%"></div>
            <img class="rating-overlay" src="/images/paw_overlay.png">
          </div>
        </td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}