{% extends "layout.html" %}

{% block content %}
    <a href="{{ recipe.url }}">
        <h1 class="title">{{ recipe.title }}</h1>
    </a>
    <a class="btn upper-right" href="/">&larr; &nbsp; Back to List</a>

    <div class="meta-data">Eaten on {{ recipe.date }}</div>
    <span class="meta-data">Hannah's Rating: {{ recipe.rating_hannah }} &nbsp; &bull; &nbsp;</span>
    <span class="meta-data">Ben's Rating: {{ recipe.rating_ben }}</span>

    <img src="{{ recipe.image_url }}" />

    <h3>Ingredients</h3>
    <div class="ingredients">
        {{ recipe.ingredients }}
    </div>

    <h3>Directions</h3>
    <div class="directions">
        {{ recipe.directions }}
    </div>

{% endblock %}