{% extends "layout.html" %}

{% block content %}
    <a class="title" href="{{ recipe.url }}" target="_blank">{{ recipe.title }}</a>
    <a href="/edit/{{ recipe.id }}">edit</a>
    <a class="btn upper-right" href="/">&larr; &nbsp; Back to List</a>

    <div class="meta-data">
        {{ recipe.date }} &nbsp; Hannah:
        <div class="rating-background view-page">
            <div class="rating" style="width: {{ recipe.rating_hannah / 5 * 100 }}%"></div>
            <img class="rating-overlay" src="/images/paw_overlay.png">
        </div>
        &nbsp;
        Ben:
        <div class="rating-background view-page">
            <div class="rating" style="width: {{ recipe.rating_ben / 5 * 100 }}%"></div>
            <img class="rating-overlay" src="/images/paw_overlay.png">
        </div>
    </div>

    <img class="recipe-img" src="{{ recipe.image_url }}" />

    <h3 class="subtitle">Ingredients</h3>
    <div class="ingredients">
        {{ recipe.ingredients }}
    </div>

    <h3 class="subtitle">Directions</h3>
    <div class="directions">
        {{ recipe.directions }}
    </div>

{% endblock %}